@font-face {
  font-family: RuneScript;
  src: url("runescape.ttf");
}

body {
  font-family: RuneScript, Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  background: black;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  min-height: auto;
}

.page-wrap {
  background: url(https://www.runescape.com/img/rsp777/bg2.jpg) repeat-y center
    top;
  margin: 0 auto;
  overflow-y: hidden;
  padding: 0 50px;
  width: 815px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

.header {
  color: gold;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  margin: 10px auto;
  width: 100%;
  max-width: 100%;
}

.footer {
  font-size: 24px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-size: 40px;
  display: flex;
  flex-shrink: 0;
  width: 300px;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  min-width: 180px;
}

.banner {
  background: url(https://www.runescape.com/img/rsp777/title2/rslogo3.png)
    no-repeat center;
  display: flex;
  margin-bottom: 25px;
  min-height: 135px;
  text-align: center;
}

.banner_title {
  font-size: 0.5em;
  margin-bottom: 3px;
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 500px;
}

.drop_button {
  background: url(https://www.runescape.com/img/rsp777/splash/compare_users.gif)
    no-repeat center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 120px;
  margin-right: 12px;
  padding: 20px;
  text-align: center;
  vertical-align: top;
  height: 125px;
  width: 150px;
  text-decoration: none;

  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px; /*Adjust this as needed */
  font-weight: normal;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
}

.drop_button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.drop_button_content {
  font-family: RuneScript;
  font-size: 24px;
  font-weight: normal;
  display: flex;
  align-content: center;
}

.modal {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  margin-top: 20px; /*This makes it appear below buttons*/
  border-radius: 10px;
  color: gold;
  font-family: RuneScript, sans-serif;
  width: 60%;
  max-width: 650px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: #222;
  border-radius: 10px;
  width: 100%;
}

.modal-header,
.modal-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal-header {
  border-bottom: 1px solid gold;
  padding-bottom: 10px;
  font-size: 25px;
}

.modal-body {
  text-align: center;
  padding: 15px 0;
  font-size: 22px;
}

#bossItemModal {
  padding: 20px;
}

.boss-drop-table {
  margin-bottom: 20px;
}

#rdt-container {
  transition: opacity 0.3 ease;
}

#rdt-container[style*="display: none"] {
  opacity: 0;
}

#rdt-container[style*="display: block"] {
  opacity: 1;
}

.rdt-table {
  margin-top: 10px;
}

.rdt-toggle-button {
  /* background: rgb(73, 12, 65); */
  border-radius: 8px;
  height: 40px;
  font-family: RuneScript, sans-serif;
  font-size: 25px;
  color: white;
  background: #0056b3;
}

.rdt-toggle-button:hover {
  background-color: #0056b3;
}

#itemModal table,
#bossItemModal table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

#itemModal th,
#bossItemModal th,
#itemModal td,
#bossItemModal td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#itemModal tr,
#bossItemModal tr {
  height: 40px;
}

#itemModal tr:nth-child(even) {
  background-color: #3a3a3a;
}

#itemModal td:nth-child(2) {
  white-space: pre-line;
}

.even-row {
  background-color: #3a3a3a;
}

.odd-row {
  background-color: #2a2a2a;
}

.unique-table {
  background-color: #4b0082 !important;
  color: white;
}

.rare-even-row {
  background-color: rgb(16, 72, 16);
}

.rare-odd-row {
  background-color: rgb(46, 80, 46);
}

.close-button {
  background: darkred;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  min-height: 50px;
  min-width: 50px;
  font-size: 30px;
}

.close-button:hover {
  background: rgb(77, 0, 0);
}

.modal-button {
  background: rgb(73, 12, 65);
  border-radius: 8px;
  height: 40px;
  font-family: RuneScript, sans-serif;
  font-size: 25px;
  color: gold;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
  font-size: 20px;
}

ul.links {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  gap: 20px;
  padding-right: 50px;
  white-space: nowrap;
}

a {
  color: gold;
  text-decoration: none;
}
